$base-color: #284589;
$highlight-color: darken( desaturate( #FF6600, 10% ), 5% );
$notification-color: #3464D4;
$action-color: lighten( $base-color, 40% );

$menu-collapse-text: #F0F0F0 !important;
$menu-collapse-focus-text: #F0F0F0;
$menu-collapse-icon: #F0F0F0;
$menu-collapse-focus-icon: #F0F0F0;

@import "../admin";
